@import "../../../static/libs/css/_minxins.less";
@base-color:#202020;
.topbar{
    z-index:2;
    animation:showHeader 1s;
    animation-fill-mode:forwards;
    width:100%;
    position: fixed;
    background-color: rgba(255,255,255, 0.9);

    .logo{
        position: relative;
        display: inline-block;
        left: 0px;
        font-size:2.5em;
        line-height: 2.3em;
        padding-left: 1em;
        animation-fill-mode:forwards;
        p{
            display: inline-block;
            margin:0px;
            font-size: 0.45em;
            animation-fill-mode:forwards;
            opacity:0;
        }
    }
    .topbar-nav{
        list-style: none;
        display: inline-block;
        margin: 0px;
        padding: 8px 46px 0 0;
        position: relative;
        float: right;
        li{
            margin: 0px;
            padding: 0px;
            /* width: 4rem; */
            text-align: 4em;
            text-indent: 0.5em;
            
        }
        &>li{
            padding-top: 2em;
            display:inline-block;
            &>a{
                padding-right:0.3em;
                position: relative;
                display: inline-block;
                text-decoration:none;
                .a-base(@base-color);
                &:after{
                    content: '';
                    position: absolute;
                    bottom: -7px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #fe5b56;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    -moz-transform:scale(0);
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    .dropdown-content{
                        animation:openMenu 1s;
                        animation-fill-mode:forwards;
                    }
                }
                &:hover{
                    &:after{
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
            letter-spacing: 0.2em;
            &:hover{
                   .dropdown-content{
                     display: block;
                   }
            }
        }
        &>li:after{
            content:"/";
        }
        &>li:nth-of-type(1):after{
            content:" >";
        }
        &>li:nth-last-of-type(1):after{
            content:" ";
        }
    } 
    .dropdown-content{
        display: none;
        list-style: none;
        position: absolute;
        list-style-position: inside;
        padding: 0.5em 0 0 0;
        background-clip: content-box;
        background-color: rgba(255, 255, 255, 0.98);

        &:nth-child(1){
            background-color:red;
        }
        &>li{
            letter-spacing: 0em;
            height:1.8em;
            line-height:1.8em;
            padding-right: 1em;
            box-shadow: 2px 0px 0px 0px  lighten(@base-color,80%);
            &:hover{
                background-color: lighten(@base-color,50%);
                &>a{
                    color:#ffffff;
                }
            }
            &:nth-of-type(1){
                padding-top:0.4em;
            }
             &:nth-last-of-type(1){
                box-shadow: 2px 0px 0px 0px  lighten(@base-color,80%),
                            2px 2px 0px 0px  lighten(@base-color,80%);
               
            }
        }
        
    }
}