
@font-face {font-family: "iconfont";
  src: url(/views/static/libs/css/iconfont/iconfont/iconfont.eot?v=82e15b8f8ce5571b1910204f4ac2f609); /* IE9*/
  src: url(/views/static/libs/css/iconfont/iconfont/iconfont.eot?v=82e15b8f8ce5571b1910204f4ac2f609#iefix) format('embedded-opentype'), 
  url(/views/static/libs/css/iconfont/iconfont/iconfont.woff?v=8151e6c44a1192707254ca9de0908dae) format('woff'), 
  url(/views/static/libs/css/iconfont/iconfont/iconfont.ttf?v=bd66eb033961fa9dace3bf6c78d96192) format('truetype'), 
  url(/views/static/libs/css/iconfont/iconfont.svg?v=da85ef145a511b12491886750eea8178#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tixing:before { content: "\E62E"; }
.icon-yonghuqun:before { content: "\E600"; }
.icon-yinxingqia:before { content: "\E623"; }
.icon-jia:before { content: "\E613"; }
.icon-qiehuanqishang:before { content: "\E610"; }
.icon-dianhua:before { content: "\E642"; }
.icon-jia1:before { content: "\E619"; }
.icon-dingbu:before { content: "\E63C"; }
.icon-chevron-up:before { content: "\E631"; }
.icon-chevron-down:before { content: "\E632"; }
.icon-lianxiren:before { content: "\E615"; }
.icon-QQkongjian:before { content: "\E639"; }
.icon-arrowleft:before { content: "\E627"; }
.icon-jiantou:before { content: "\E636"; }
.icon-key:before { content: "\E618"; }
.icon-qq:before { content: "\E60F"; }
.icon-shizhong:before { content: "\E61B"; }
.icon-sina:before { content: "\E63A"; }
.icon-mouse:before { content: "\E62F"; }
.icon-home:before { content: "\E620"; }
.icon-rss:before { content: "\E629"; }
.icon-download:before { content: "\E61A"; }
.icon-tuichu:before { content: "\E617"; }
.icon-ico09:before { content: "\E625"; }
.icon-fold:before { content: "\E611"; }
.icon-jianyingliulan:before { content: "\E614"; }
.icon-wangwang:before { content: "\E604"; }
.icon-weibo:before { content: "\E605"; }
.icon-iconfontcommentfill:before { content: "\E616"; }
.icon-close01:before { content: "\E60A"; }
.icon-qq1:before { content: "\E63B"; }
.icon-fanhui:before { content: "\E63D"; }
.icon-shubiaohuadong:before { content: "\E612"; }
.icon-fenxiang:before { content: "\E624"; }
.icon-chongzhitixian:before { content: "\E621"; }
.icon-new:before { content: "\E61E"; }
.icon-xiajiantou:before { content: "\E62B"; }
.icon-arrowright:before { content: "\E628"; }
.icon-iconxinxi:before { content: "\E61C"; }
.icon-ren:before { content: "\E61D"; }
.icon-xiayiqu:before { content: "\E61F"; }
.icon-iconfontchongzhi:before { content: "\E622"; }
.icon-wangzhanshiliangtu09:before { content: "\E601"; }
.icon-play:before { content: "\E62D"; }
.icon-board:before { content: "\E630"; }
.icon-wangzhanshiliangtu01:before { content: "\E602"; }
.icon-wangzhanshiliangtu02:before { content: "\E603"; }
.icon-wangzhanshiliangtu03:before { content: "\E606"; }
.icon-wangzhanshiliangtu04:before { content: "\E607"; }
.icon-wangzhanshiliangtu05:before { content: "\E608"; }
.icon-wangzhanshiliangtu06:before { content: "\E609"; }
.icon-wangzhanshiliangtu07:before { content: "\E60B"; }
.icon-wangzhanshiliangtu08:before { content: "\E60C"; }
.icon-wangzhanshiliangtu091:before { content: "\E60D"; }
.icon-wangzhanshiliangtu10:before { content: "\E60E"; }
.icon-home1:before { content: "\E626"; }
.icon-add-tag:before { content: "\E62C"; }
.icon-share:before { content: "\E62A"; }
.icon-guanbi:before { content: "\E637"; }
.icon-chenggong2icon:before { content: "\E638"; }
.icon-tongzhigonggao:before { content: "\E63E"; }
.icon-juxing25:before { content: "\E633"; }
.icon-xingzhuang23:before { content: "\E634"; }
.icon-juxing36:before { content: "\E635"; }
.icon-kefu:before { content: "\E641"; }
.icon-shuang11:before { content: "\E63F"; }
.icon-daiquanduihao:before { content: "\E640"; }
.left-panel {
  width: 200px;
  position: absolute;
  min-height: 100%;
  top: 80px;
  bottom: 0;
  background: #e7e7e7;
}
.left-panel .side-menu {
  padding: 0 14px 0 16px;
}
.left-panel .side-menu li {
  line-height: 70px;
  font-size: 16px;
}
.left-panel .side-menu li a {
  color: #ac2925;
  text-decoration: none;
}
.left-panel .side-menu li a:hover {
  color: #fe5b56;
}
.left-panel .side-menu li a i.fr {
  float: right;
}

/*# sourceMappingURL=asider.css.map?v=8c7d397f1269e17322cff29018e9b8a8*/