@import "../libs/css/_function.less";
body{
   margin: 0px;
   background-image: url(img/article_detail_bg.png);
   color:#0f0f0f;
   font-family: "Microsoft Yahei";
}

//重写头部
.topbar{
    margin-bottom: 20px;
    background-color: rgba(2, 2, 2, 0.1);
    color: #000000;
    position:static;
    a{
        .a-base(#0f0f0f);
    }
}