@import "../libs/css/_minxins.less";
@base-color:#0f0f0f;
body{
  margin: 0;
  background-image: url(../article-detail/img/article_detail_bg.png);
}
body .topbar{
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.95);
    color: @base-color;
    position: fixed;
    top:0;
    border-bottom: 1px solid lighten(@base-color,84%);
    a{
        .a-base(@base-color);
    }
    transition: 0.8s;
    -moz-transition:  0.8s;	/* Firefox 4 */
    -webkit-transition:  0.8s;	/* Safari 和 Chrome */
    -o-transition:  0.8s;
}