@import "../libs/css/_minxins.less";
@import "../libs/css/common.less";
@keyframes hid{
   0%{ opacity:1}
   100%{  opacity:0;} 
}
@keyframes downkey{
   0%{ opacity:0.7;bottom:10px}
   70%{bottom:0px;}
   100%{  opacity:1;} 
}
@keyframes openMenu{
   from{ opacity:0}
   to{  opacity:1} 
}
@keyframes showHeader{
   from{ top: -4em}
   to{  top:0em}
}
.keyframes(person1show,{
    0%{
       opacity:0;
       right:1em;
    }
    100%{
       opacity:1;
       right:0;
    }
});
.keyframes(person1hide,{
    0%{
        opacity:1;
       right:0;  
    }
    100%{
       opacity:0;
       right:10em;
    }
});
.keyframes(person2show,{
    0%{
       opacity:0;
       left:1em;
    }
    100%{
       opacity:1;
       left:0;
    }
});
.keyframes(person2hide,{
    0%{
       opacity:1;
       left:0;
    }
    100%{
       opacity:0;
       left:10em;
    }
});
a{
    .a-base(#000000);
}
.down{
    position:fixed;
    bottom: 0px;
    right:50%;
    left: 50%;
    width: 50px;
    height: 40px;
    background-size: 100%;
    z-index: 3;
    animation:downkey 2.5s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    .iconfont{
        font-size: 3em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.bgi{
    background-image: url(img/main_bg1.jpg);
    background-size: auto 100%;
    //background-attachment: fixed;
    background-position:  center;
    position:fixed;
    z-index:0;
    width: 100%;
    transform:translate(0px,-500px);//位移的高度
    transition-timing-function:linear;
}
.section{
    height:100%;
    overflow: hidden;
    background-size: 100%;
    &:nth-of-type(1){
        background-color: rgba(1,1,1,0.2);
    }
    &:nth-of-type(2){
        background-image: url(img/main_bg2.jpg);
        background-size: cover;
        background-color: rgba(1,1,1,0.3);
    }
    &:nth-of-type(3){
        background-color: rgba(1,1,1,0.3);
    }
    &:nth-of-type(4){ 
        background-image: url(img/main_bg4.jpg);
        background-size: 100% 100%;
        .sectionTitle{
            padding:1% 0 0 6%;
            margin-bottom: -2%;
        }
    }
}

.toggle{
    transition-timing-function: linear;
    width:100%; 
    position:fixed;
    z-index:1;
}
.HotArticles{
    position: relative;
    width: 97%;
    height: 90%;
    top: 5%;
}
.article{
    width:60%;
    height:70%;
    margin:10% 5%;
    // border:1px solid #EDEEEE;
    background-color:#ffffff;
   // -webkit-transform:rotate(7deg); 
    -webkit-transform-origin:200% 50%; 
    position:absolute;  
    &:nth-of-type(1){
        //-webkit-transform:rotate(-7deg); 
        
    }
    -webkit-transition: -webkit-transform 0.3s;
    img{
        width: 100%;
        height: 100%;
        box-shadow: 6px 6px 2px 1px rgba(25, 34, 41, 0.55);
    }
}
.articleInfor{
    position: absolute;
    right: 0px;
    width: 26%;
    height: 100%;
    color: #fbfbfb;
    opacity: 0;
    padding-top:5%;
    .articleTitle{
        .a-base( #ffffff);
        font-weight: normal;
        font-size: 1.3em;
    }
    &>p:nth-of-type(1){
        color: #acdbe2;
        a{
            .a-base(#d3e2e4);
                text-decoration: none;
                border-bottom: 1px solid ;
                padding: 3px 0px;
                margin: 0 5px;
        }
    }
    .articleTime{color:#afc1c4}
    .articleDetail{
        line-height: 2.25em;
        text-indent: 2em;
        font-size: 1.05em;
        color: #ffffff;
        padding: 0px 0.5em;
    }
}
// .animation(p-show);
.person1{
    // animation: perkey1 2s;
    p{
        text-align: right;
        margin-right: 80px;
    }
    .p-show{
        .animation(person1show,0.5s);
        animation-fill-mode:forwards;
    }
    .p-hide{
        .animation(person1hide,0.5s);
        animation-fill-mode:forwards;
    }
}
.person2{
    // animation: perkey2 2s;
    // margin-left: 0%;
    // float:right;
    p{
        margin-left:80px;
        
    }
    .p-show{
        .animation(person2show,0.5s);
        animation-fill-mode:forwards;
    }
    .p-hide{
        .animation(person2hide,0.5s);
        animation-fill-mode:forwards;
    }
}
.person{
    box-sizing:border-box;
    width:50%;
    height: 70%;
    margin-top:100px;
    display: inline-block;
    float: left;
    // border:1px solid;
    color:#ffffff;
    p{
        animation-fill-mode: forwards;
        opacity: 0;
        padding: 0px;
        font-size: 1.2em;
        position: relative;
        font-weight: 300;
        &:nth-of-type(1){
            font-size: 2em;
            animation-delay:0.5s;
        }
        &:nth-of-type(2){
            animation-delay:0.8s;
        }
        &:nth-of-type(3){
            animation-delay:1.1s;
        }
        &:nth-of-type(4){
            animation-delay:1.4s;
        }
       
    }
    .personleft{
        height: 100%;
        width:35%;
        float: left;
        margin:0px;
        overflow: hidden;
    }
    .personright{
        float: left;
        width:65%;
        height: 100%;
        margin:0px;
    }
    @img-width:100px;
    img{
        width: @img-width;
        // height: @img-width;
        border-radius: @img-width/2;
        border: 1px solid;
            position: relative;
        top: 12px;
    }
}

.sectionTitle{
    width: 100%;
    height: 2em;
    font-size: 2.5em;
    display: inline-block;
    position: static;
    color: #ffffff;
    padding: 0.7em 0em 0em 2em;

}
.tecStack{
    position: static;
    width: 33.39%;
    text-align: center;
    color: #ffffff;
    margin: 0px -0.1% -2px 0%;
    background-color: rgba(23, 23, 23, 0.2);
    font-size: 2em;
    font-weight: lighter;
    padding: 1.5em 0;
    float: left;
    cursor:pointer;
}
.tecDetails{
    position: relative;
    color: #ffffff;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    float:left;
    padding: 2em 0;
    text-align: center;
    font-size: 1.5em;
    .topIrc{
        border-bottom: 10px solid rgba(0,0,0,0.6);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: 0;
        position: absolute;
        width: 0;
        top:-10px;
        left: 14%;
    }
    .bottomIrc{
        border-top: 10px solid rgba(0,0,0,0.6);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: 0;
        position: absolute;
        width: 0;
        bottom: -10px;
        opacity: 0;
    }
}
.demoBlock{
    width: 26%;
    display: inline-block;
    margin: 1% 0 0 6%;
    background-color: rgba(137,143,139,0.9);
    box-shadow: 1px 4px 1px 3px rgba(104,93,97,0.5);
    text-align: center;
    .a-base(#ffffff);
    font-size: 1.2em;
    border-radius: 4px;
    img{
        width: 100%;
        height: 100%;
    }
    &:hover{
        background-color: rgba(190, 190, 190, 0.9);
        box-shadow: 7px 7px 6px 0px rgba(76, 75, 75, 0.79);
    }
}