@import "../../../static/libs/css/common";
@import "../../libs/js/sceditor/square.min.less";
.main {
  margin-left: 200px;
  padding: 10px;
  .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }
  .box {
    .box-header {
      margin: 0 0 20px;
      select {
        width: 88px;
        height: 40px;
        font-size: 14px;
      }
      input {
        width: 688px;
        height: 40px;
        font-size: 14px;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    .box-body {
      textarea {
        width: 100%;
        height: 400px;
      }
    }
    .box-footer {
      .submit {
        display: inline-block;
        height: 40px;
        border: none;
        background: #2b669a;
        width: 100px;
        border-radius: 2px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        float: right;
        margin: 20px;
        cursor: pointer;
        &:hover {
          background: #4b86ba;
        }
      }
    }
  }
}